<div id="wrapper-global-results" class="row padding" *ngIf="total > 0">
  <div class="center-text">
    <canvas #canvas width="38px" height="38px"></canvas>
    <div>{{ (done * 100 / total) | number:'1.2-2' }}%</div>
  </div>
  <div class="grow">
    <div>Total: {{total}}</div>
    <div>Done: {{done}}</div>
  </div>
  <div id="wrapper-links" class="col">
    <a href="https://youtu.be/dIxknqPOWms?t=1359" target="blank">Ivy presentation at ng-conf</a>
    <a href="https://github.com/angular/angular/blob/master/packages/core/src/render3/STATUS.md" target="blank">Ivy Status</a>
    <a href="https://github.com/Ploppy3/angular-evolution" target="blank">Source</a>
  </div>
</div>
<app-category class="root" [category]="category"></app-category>
<div id="wrapper-portfolio"><a href="https://cv.engin9tools.com/" target="blank">Portfolio</a></div>