/* You can add global styles to this file, and also import other style files */

@import './framework.scss';
body {
  font-family: 'Roboto', sans-serif;
  color: rgba($color: #000000, $alpha: .87);
  background-color: #fafafa;
}
table {
  /*
  border: 1px solid rgba($color: #000000, $alpha: .24);
  border-radius: 8px;
  padding: 8px;
  //*/
  display: inline-block;
  border-radius: 8px;
  overflow-x: auto;
  border-collapse: collapse;
  will-change: transform;
  tr {
    padding: 1px 0;
    border-bottom: 1px solid rgba($color: #000000, $alpha: .12);
    &:last-child {
      border-bottom: none;
    }
  }
  th {
    text-align: left;
  }
  th,
  td {
    padding: 4px 8px;
  }
}
a {
  color: #448AFF;
}
xmp {
  margin: 0;
}
xmp,
.code {
  font-family: 'Roboto Mono', monospace;
}
.code {
  display: inline-block;
  background-color: #ECEFF1;
  border-radius: 4px;
  padding: 0 4px;
}
.secondary {
  color: rgba($color: #000000, $alpha: .54);
}